TravelAgency/TravelAgencyBackend/TravelAgencyServer/bin
TravelAgency/TravelAgencyBackend/.vs/TravelAgencyServer/FileContentIndex
TravelAgency/TravelAgencyBackend/TravelAgencyServer/obj
TravelAgency/TravelAgencyBackend/.vs
TravelAgency/TravelAgencyFrontend/.vs
TravelAgency/TravelAgencyFrontend/.vs/travelproject/FileContentIndex
TravelAgency/TravelAgencyBackend/TravelAgencyServer/Migrations
